* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}

body {
    background-color: #f5f6f8;
}


/* 메인 컨테이너 */
.container {
    min-width: 1200px;
    margin: 80px auto; /* 헤더 높이만큼 마진 추가 */
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* 게시글 리스트 */
table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f8f9fa;
}

table tr:hover {
    background-color: #f1f1f1;
}
.thumbnail {
    width: 50px; /* 썸네일의 가로 크기 */
    height: 50px; /* 썸네일의 세로 크기 */
    object-fit: cover; /* 이미지 비율을 유지하면서 크기에 맞게 자르기 */
    border-radius: 4px; /* 선택 사항: 모서리를 둥글게 만들기 */
}

/* 글쓰기 버튼 */
.write-btn {
    position: absolute; /* 화면에 고정 */
    bottom: 20px; /* 화면 하단에서 떨어진 거리 */
    right :20px ;
    padding :10px 16px ;
    background-color:#007bff ;
    color:white ;
    text-decoration : none ;
    border-radius : 5px;
    cursor :pointer;
    box-shadow :0px 4px 6px rgba(0 ,0 ,0 ,0.1)
}

/* 페이지네이션 스타일 */
.pagination{
    display:flex;
    justify-content:center;
    margin-top : 30px
}

.pagination a{
    color:#007bff ;
    padding : 8px 16px ;
    text-decoration:none ;
    border : 1px solid #ddd ;
    margin : 0px 3px ;
    border-radius : 4px
}

.pagination a.active{
    background-color:#007bff ;
    color:white ;
    border : 1px solid #007bff
}

.pagination a:hover{
    background-color:#ddd
}
